name: Example Workflow

on:
  schedule:
    - cron: "0 0 * * MON"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Run Validator
        run: |
          dotnet run --project .\src\Wiremock.OpenAPIValidator\Wiremock.OpenAPIValidator.csproj  -o "./examples/openapi/openapi.yaml" -w "./examples/wiremock/mappings"
