name: Publish

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: src

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Get the version
      id: get_version
      run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT
    - name: Build (Release)
      run: dotnet build --configuration=Release
    - name: Pack
      run: dotnet pack -c Release -p:PackageVersion=${{ steps.get_version.outputs.VERSION }}
    - name: Publish to NuGet
      run: dotnet nuget push --skip-duplicate --api-key ${{secrets.NUGET_SECRET}} --source 'https://api.nuget.org/v3/index.json' packages/Wiremock.OpenAPIValidator.*.nupkg

